table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    border: 2px solid black;
    height: 200px;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.timer {
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    width: 575px;
    position: relative;
    top: 43px;
    font-size: 15px;
    border-radius: 13px;
}

.cardetails_label {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

hr.solid {
    border-top: 5px solid black;
    width: 40em;
}

hr.dotted {
    border-top: 5px dotted black;
    position: relative;
    bottom: 400px;
    width: 100%;
}

.lefthr {
    position: relative;
    right: 380px;
}

.righthr {
    position: relative;
    left: 390px;
    bottom: 88px;
}

.hrspan {
    position: relative;
    bottom: 448px;
    left: 350px;
    font-size: 35px;
}

.inputComment {
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.comments {
    position: relative;
    bottom: 460px;
}

.carDetailUl {
    color: black;
}

.wrapper {
    margin-top: 800px;
}

.carDetailOne {
    position: relative;
    right: 340px;
}

.carDetailTwo {
    position: relative;
    left: 410px;
    bottom: 800px;
}

.carImages {
    width: 700px;
    height: 480px;
}
