table {
    font-family: Arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    color: black;
}

.side-table {}

th {
    font-weight: bold;
    padding: 12px 15px;
    border-bottom: 2px solid orange;
    text-align: left;
    background-color: #afaeae;
    color: white;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid orange;
    text-align: left;
    background-color: #f0f0f0;
    color: black;
}

.carImages {
    width: 700px;
    height: 480px;
}

.flex-container {
    display: flex;
    align-items: stretch;
    /* Stretch children to match the height of the tallest child */
    gap: 1rem;
}

.timer {
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    width: 575px;
    position: relative;
    top: 43px;
    font-size: 15px;
    border-radius: 13px;
}

.timerNoLogin {
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    width: 575px;
    position: relative;
    top: 20px;
    font-size: 15px;
    border-radius: 13px;
}

.cardetails_label {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

hr.solid {
    border-top: 5px solid black;
    width: 40em;
}

hr.dotted {
    border-top: 5px dotted black;
    position: relative;
    bottom: 400px;
    width: 100%;
}

.lefthr {
    position: relative;
    right: 380px;
}

.righthr {
    position: relative;
    left: 390px;
    bottom: 88px;
}

.hrspan {
    position: relative;
    bottom: 448px;
    left: 350px;
    font-size: 35px;
}

.inputComment {
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.comments {
    position: relative;
    bottom: 460px;
}

.carDetailUl {
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.side-table {
    border-collapse: collapse;
    width: 100%;
}

.table-header {
    border: 1px solid black;

}

.table-cell {
    border-bottom: 2px solid orange;
}