/* Style for the Formik form */
h3 {
    text-align: center;
    padding-bottom: 20px;
}

.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpPage form {
    width: 500px;
    /* Fixed width for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow around the form */
    background-color: #ffffff;
    /* White background for the form */
    display: flex;
    flex-direction: column;
    /* Stack form elements vertically */
    gap: 10px;
    /* Space between form elements */
}

/* Style for labels */
.signUpPage label {
    font-weight: bold;
    /* Bold font for labels */
    margin-bottom: 5px;
}

/* Style for input fields */
.signUpPage input {
    padding: 10px;
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 4px;
    font-size: 14px;
}

/* Style for the login button */
.signUpPage button {
    padding: 10px;
    background-color: #FF692D;
    /* Bootstrap primary blue */
    color: #ffffff;
    /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Hand cursor on hover */
    font-size: 16px;
    transition: background-color 0.3s;
    /* Transition for a smooth color change */
}

.signUpPage button:hover {
    background-color: #FF8E60;
    /* Slightly darker blue on hover */
}

.signUpPage .error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}