/* Example media query for smaller screens or zoomed in views */
@media (max-width: 600px) {

    .sellCar-input-margin,
    .label-button {
        width: 100%;
    }
}

.sellcar-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the form */
.sellcar-page form {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Style for labels */
.sellcar-page label {
    font-weight: bold;
    margin-bottom: 5px;
}

.sellcar-page input,
.sellcar-page textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Style for the submit button */
.sellcar-page button {
    padding: 10px;
    background-color: #FF692D;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sellcar-page button:hover {
    background-color: #FF8E60;
}

.sellcar-page .error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.sellCar-title {
    font-size: 1rem;
    font-weight: bold;
    color: #f5671f;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Styles for the rows and columns */
.sellcar-page .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.sellcar-page .column {
    padding: 0 15px;
    flex: 50%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .sellcar-page .column {
        flex: 100%;
    }
}

.sellcar-page .row {
    display: flex;
    justify-content: space-between;
    /* This will put space between your two columns */
    margin-bottom: 20px;
    /* Adds space between rows */
}

.sellcar-page .column {
    flex: 1;
    /* This will make each column flex to fill the row */
    padding: 0 15px;
    /* Keeps a gap between the two columns */
    box-sizing: border-box;
}

/* Input and Textarea styles */
.sellcar-page input,
.sellcar-page textarea {
    width: 100%;
    /* Full width of the column */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.label-button {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #f0f0f0;
    /* Adjust background color as needed */
    border: 2px dashed #ccc;
    /* Adjust border style as needed */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    position: relative;
    /* New: set position to relative */
}

.image-upload-container {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to next line if necessary */
    gap: 3px;
    /* Optional: add some space between items */
}

.preview-car-image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    max-height: 300px;
    object-fit: contain
        /* New: Resize the image to cover the container */
}

.hidden {
    position: absolute;
    /* New: set position to absolute */
    opacity: 0;
    /* New: set opacity to 0 instead of display:none */
    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}

.list-your-car-button {
    background-color: #f5671f;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px;
    color: #ffffff;
}

.success {
    color: green;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.list-your-car-button.loading {
    background-color: #f0ad4e;
    /* Bootstrap's warning color */
}

.list-your-car-button.success {
    background-color: #5cb85c;
    /* Bootstrap's success color */
}

.list-your-car-button.error {
    background-color: #d9534f;
    /* Bootstrap's danger color */
}

.list-your-car-button.failure {
    background-color: #d9534f;
    /* Bootstrap's danger color */
}